.header{
    background-color: #fff159;
    max-height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(2, 1fr);
    
   
    
}



.second-section-header{
    margin-top: 55px;
    grid-column: 2;
    grid-row: 1;
    margin-top: 11px;
   

}

.third-section-header{
    grid-column: 3;
    grid-row: 1;
    margin-top: 14px;
    margin-left: 8px;
}

.one{
    margin-left: 1px;
    text-decoration: none;
    font-size: 15px;
    color: #333;
}

.first-input{
    width: 590px;
    height: 40px;
    margin-left: -70px;
    padding: 15px;
    font-size: 16px;
    font-family: inherit;
    box-shadow: 0 2px 15px rgb(0 0 0 / 50%);
}

.four-section-header{
    grid-column: 1;
    grid-row: 2;
    margin-left: 375px;
    margin-top: 4px;
   
    
}

.five-section-header{
    grid-column: 2;
    grid-row: 2;
    margin-top: 20px;
    margin-left: -86px;
    
}

.five-section-header  a{
    margin-left: 6px;
}

.six-section-header{
    
    grid-column: 3;
    grid-row: 2;
    margin-top: 15px;
    margin-left: -10px;
}

.six-section-header > a{
    align-self: center;
    margin-left: 6px;
}

.two{
    color: rgba(51,51,51,.6);
    text-decoration: none;
    font-size: 14px;
}

.three{
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.anounce{
    text-decoration: none;
    color: #333;
    font-size: 17px;
}

.mercado-libre{
    width: 135px;
    height: 34px;
    margin-left: 350px;
    margin-top: 11px;
}
.logo-ubication{
    position: relative;
    right: 287px;
    top: -30px;
    width: 26px;
}

.logo-flame{
    position: relative;
    top: 5px;
    right: 5px;
    width: 23px;
    height: 30px;
}

.logo-car{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    
    
}

.search{
    position: relative;
    left: 1120px;
    bottom: 70px;
    width: 17px;
    height: 20px;
    
    
}


@media (max-width: 1440px){

.header{
    margin-left: -77px;
}

.mercado-libre{
    margin-left: 230px;
}

.four-section-header{
    margin-left: 255px;
}

.third-section-header{
    margin-left: 58px;
}

.six-section-header{
    margin-left: 39px;

}

.logo-ubication{
    right: 269px;
}

.search{
    left: 982px;
}


}

@media (max-width: 1024px){


.header{
    margin-left: 0px;
}


.first-input{
    width: 469px;
    margin-left: -164px;
}

.mercado-libre{
    margin-left: 13px;
}

.four-section-header{
    margin-left: 46px;
}

.logo-ubication{
    right: 324px;
}

.search{
    left: 612px;
}

.third-section-header{
    margin-left: 3px;
}

.five-section-header{
    margin-left: -181px;
}

.six-section-header{
    margin-left: -17px;
}

}

@media (max-width: 768px){

    .third-section-header{
        display: none;
    }

    .six-section-header{
        display: none;
    }

    .second-section-header{
        margin-left: 105px;
    }

    .five-section-header{
        margin-left: 19px;
    }

    .four-section-header{
        margin-left: 152px;
    }

    .logo-ubication{
        right: 733px;
        top: 9px;
    }

    .first-input{
        width: 556px;
    }

    .search{
        left: -29px;
        bottom: -21px;
    }

}



@media (max-width: 768px){

.mercado-libre{
    width: 102px;
    height: 34px;
    margin-left: 19px;
}

.header{
    margin-left: 0px;
}


.second-section-header{
    margin-left: 28px;
}

.four-section-header{
    margin-left: 31px;
}

.first-input{
    margin-left: 6px;
}

.logo-ubication{
    display: none;
}

}





@media (max-width: 425px){

    header{
        width: 410px;
        margin-left: -4px;
    }

.mercado-libre{
    margin-left: 7px;
}



.second-section-header{
    margin-left: 1px;
}

.first-input{
    width: 282px;
}

.four-section-header{
    display: none;
}

.five-section-header{
    margin-left: -111px;
    
}

.five-section-header > a{
    margin-left: 8px;
}

.two{
    font-size: 13px;
}


}

@media (max-width: 375px){

.mercado-libre{
    display: none;
}

.header{
    max-width: 371px;
}

.first-input{
    width: 329px;
    margin-left: 8px;
}

.five-section-header{
    margin-left: -2px;
    
}

.five-section-header a{
    margin-left: 5px;
}

.two{
    font-size: 12px;
}

.search{
    left: -45px;
}






}